body{
    background-color: #d0bdf4;
}
.body{
    margin-left: 30%;
    margin-top: 50px;
}
#name,#number,#dob{
    width: 50%;
    border-radius: 2px;
    border-color: black;
    height: 25px;
}

.button{
    margin-left: 80px; margin-top: 50px; padding: 10px;
    width: 80px;
    border-radius: 10px;
    
}
td{
    padding: 8px;
    width: 100px;
    
    
}

.button{
    background-color:rgba(249, 44, 44, 0.498);
    margin-left: 40%;
}
.header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:teal;
}


